{%extends "index.html" %}
{% load static %}
{% block inHead %}
{% endblock %}
{% block content %}
  <main class="mdl-layout__content mdl-color--grey-100">
	<center>
	<div class="mdl-card mdl-shadow--6dp">
	<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
	<h2 class="mdl-card__title-text">Logged out</h2>
			</div>
			<div class="mdl-card__actions mdl-typography--text-center">
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect  mdl-button--colored"
			 href="{%url 'login'%}" id="login">Login
			</a>
		</div>
       </div>
    </div>

	</center>
    </div>
    </main>

{% endblock %}
